body{
    font-family: 'Manrope', sans-serif;
    font-size: 1.5rem; 
    line-height: 2.5rem;
    @include respond("big-ipad"){
        font-size: 1.7rem; 
    }
  
}
.nav{
    font-size: 1.35rem;
    letter-spacing: .17rem;

}

.header{
    .item-info{
        &__title{
            color: $color-light-primary; 
            font-size: 1.5rem;
            letter-spacing: 1rem;
            text-transform: uppercase;
        }
        &__description{
            color: $color-light-primary; 
        }
    }
    
    
}
.heading{
    text-transform: uppercase;
    &--primary{
        font-size: 5.6rem;
        letter-spacing: 2px;
        line-height: 5.8rem;
        color: $color-light-primary; 

        @include respond("big-ipad"){
            font-size: 7rem;
            line-height: 8rem;
        }
        @include respond("iphone-max"){
            font-size: 5rem;
            line-height: 7rem;
        }
       
    }

    &--senary{
        font-size: 1.8rem;
        line-height: 2.4rem; 
        letter-spacing: .2rem;;
        @include respond("iphone-max"){
            font-size: 2.5rem;
            }
    }

    &--quaternary{
        font-size: 2.8rem;
        line-height: 3.6rem;;
        letter-spacing: .2rem;
        font-weight: 600;
        
    }

    &--secondary{
        font-size: 4rem;
        line-height: 4.4rem;;
        letter-spacing: .2rem;
        font-weight: 600;

        @include respond("ipad"){
            font-size: 6rem;
            line-height: 7rem;
        }
        @include respond("iphone-max"){
            font-size: 4rem;
            line-height: 5rem;
        }
    }

    &--primary-header{
       
    }
}


