mixin cart
    .cart
        .cart-header
            h5.heading.heading--senary.heading--senary-checkout Cart(3)
            a.cart-remove-items(href="") Remove All
        .cart__items
            .cart-item
                .cart-gallery
                    img(src="/assets/cart/image-xx99-mark-two-headphones.jpg", alt="")
                .cart-description
                    .cart-description__name XX99 MK II
                    .cart-description__price $ 2,999
                .cart-item__quantity
                    input(type="number" placeholder="")
                   
            .cart-item
                .cart-gallery
                    img(src="/assets/cart/image-xx59-headphones.jpg", alt="")
                .cart-description
                    .cart-description__name XX59
                    .cart-description__price $ 899
                .cart-item__quantity
                    input(type="number" placeholder="")
            .cart-item
                .cart-gallery
                    img(src="/assets/cart/image-yx1-earphones.jpg", alt="")
                .cart-description
                    .cart-description__name YX1
                    .cart-description__price $ 599
                .cart-item__quantity
                    input(type="number" placeholder="")

        .cart__infos
            .cart-total.cart-info
                p.cart-total__word Total
                p.cart-total__total $ 5,446
        .cart-btn
            a.btn.btn--gold.btn--gold-summary.btn-checkout(href="") Checkout