footer.footer
    .footer__section.content-center
        .footer-info
            .footer-info__logo 
                img(src="/assets/shared/desktop/logo.svg", alt="logo")
            .footer-nav__items-medium
                a.nav__el.nav__el--navlink(href='/') Home
                a.nav__el.nav__el--navlink(href='/product/headphones') Headphones
                a.a.nav__el.nav__el--navlink(href='/product/speakers') Speakers
                a.nav__el.nav__el--navlink(href='/product/earphones') Earphones
            .footer-info__para Audiophile is an all one stop to fulfill your audio needs. We're a small team of music lovers and sound specialists who are devoted to helping you get the most of of personally audio. Come and visit our demo facility - we're open 7 days a week.
            p.footer-info__copyright Copyright 2021. All Rights Reserved 
        .footer-nav
            .footer-nav__items
                a.nav__el.nav__el--navlink(href='/') Home
                a.nav__el.nav__el--navlink(href='/product/headphones') Headphones
                a.a.nav__el.nav__el--navlink(href='/product/speakers') Speakers
                a.nav__el.nav__el--navlink(href='/product/earphones') Earphones
            .footer-nav__icons
                a.nav__el.nav__el--navlink(href='https://www.facebook.com/') 
                  <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg"><path d="M22.675 0H1.325C.593 0 0 .593 0 1.325v21.351C0 23.407.593 24 1.325 24H12.82v-9.294H9.692v-3.622h3.128V8.413c0-3.1 1.893-4.788 4.659-4.788 1.325 0 2.463.099 2.795.143v3.24l-1.918.001c-1.504 0-1.795.715-1.795 1.763v2.313h3.587l-.467 3.622h-3.12V24h6.116c.73 0 1.323-.593 1.323-1.325V1.325C24 .593 23.407 0 22.675 0z" fill="#FFF" fill-rule="nonzero"/></svg>
                a.nav__el.nav__el--navlink(href='https://twitter.com/?lang=en')
                    img(src="/assets/shared/desktop/icon-twitter.svg", alt="twitter-icon")
                a.a.nav__el.nav__el--navlink(href='https://www.instagram.com/')
                    img(src="/assets/shared/desktop/icon-instagram.svg", alt="instagram-icon")


