mixin minNav  
    .navigation__logo
        img.navigation__img(src="/assets/shared/tablet/x-altx-alt.svg", alt="hamburger")
    ul(class='navigation__list')
      li(class='navigation__item')
        a(href='/' class='navigation__link') Home
      li(class='navigation__item')
        a(href='/product/headphones' class='navigation__link') Headphones
      li(class='navigation__item')
        a(href='/product/speakers' class='navigation__link') Speakers
      li(class='navigation__item')
        a(href='/product/earphones' class='navigation__link') Earphones

    

