mixin shop
    .shop__card.shop__card--headphones
        .shop__img.shop__img--headphones
            img.shop__img--pic(src="/assets/shared/desktop/image-headphones.png" alt="image-headphones")
        h6.shop__heading.heading.heading--senary Headphones
        a.shop__link--text(href="") Shop
            span
                a.shop__link--img(href="")
                    img(src="/assets/shared/desktop/icon-arrow-right.svg" alt="icon-arrow-right")
    .shop__card.shop__card--speakers
        .shop__img.shop__img--speakers
            img.shop__img--pic(src="/assets/shared/desktop/image-speakers.png" alt="image-speakers")
        h6.shop__heading.heading.heading--senary Speakers
        a.shop__link--text(href="") Shop
            span
                a.shop__link--img(href="")
                    img(src="/assets/shared/desktop/icon-arrow-right.svg" alt="icon-arrow-right")
    .shop__card.shop__card--earphones
        .shop__img.shop__img--earphones
            img.shop__img--pic(src="/assets/shared/desktop/image-earphones.png" alt="image-earphones")
        h6.shop__heading.heading.heading--senary Earphones
        a.shop__link--text(href="") Shop
            span
                a.shop__link--img(href="")
                    img(src="/assets/shared/desktop/icon-arrow-right.svg" alt="icon-arrow-right")