<!DOCTYPE html>
html(lang="en")
    head
        block head
            meta(charset="UTF-8")
            meta(name="viewport", content="width=device-width, initial-scale=1.0")
            link(rel='preconnect' href='https://fonts.gstatic.com')
            link(href='https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap' rel='stylesheet')
            link(rel='shortcut icon' type='image/png' href='/assets/favicon-32x32.png')
            script(src='https://code.jquery.com/jquery-3.6.0.min.js' integrity='sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=' crossorigin='anonymous')
           
            link(rel="stylesheet", href="/bundle/bundle.css")
            link(rel="stylesheet", href="/css/style.css")
            script(src="https://js.stripe.com/v3/")
            script(defer src ="/bundle/bundle.js")
            title Audiophile | #{title}
    body
        //CONTENT
        block overlay

        block overlay-nav
            
        block header 

        block content
            h1 this is a placeholder heading
                
        // FOOTER
        include _footer