<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='preconnect' href='https://fonts.gstatic.com')
        link(href='https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap' rel='stylesheet')
        link(rel='shortcut icon' type='image/png' href='/assets/favicon-32x32.png')
        link(rel="stylesheet", href="/bundle/bundle.css")
        link(rel="stylesheet", href="/css/style.css")
        script(defer src ="/bundle/bundle.js")
        title Audiophile | #{title}
    body
        //CONTENT
        block overlay
            
        block header 

        block content
            h1 this is a placeholder heading
                
        // FOOTER
        include _footer