.header{
    background-image: url("../assets/home/desktop/image-hero.jpg");

}
@media (max-width: 75em) {
    .header {
        background-position: center;
    }
  }
  @media (max-width:64em) {
    .header {
        background-image: url("/assets/home/tablet/image-header.jpg");
        background-size: cover; 
        background-repeat: no-repeat;
       
    }
  }
  @media (max-width: 28em) {
    .header {
        background-image: url("/assets/home/mobile/image-header.jpg");
        background-size: cover;
    }
  }
.section-home-1{
    background-image: url("../assets/home/desktop/pattern-circles.svg");
    background-repeat: no-repeat;
}
.section-home-2{
    background-image: url("../assets/home/desktop/image-speaker-zx7.jpg");
    background-size: cover;

}
@media (max-width: 26em) {
    .section-home-2 {
       background-size: auto; 
       background-position: center; 
       background-repeat: no-repeat;
    }
}
.section-home-4__gallery{
  
    background-size: cover;
}