@mixin centerAbsolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


@mixin respond($breakpoint) {
  @if $breakpoint == under-break{
    @media (max-width: 71.25em) {
      @content;
    }
  }
  @if $breakpoint == big-ipad{
    @media (max-width: 64em) {
      @content;
    }
  }
  @if $breakpoint == ipad{
    @media (max-width: 48em) {
      @content;
    }
  }
}