
$color-black-primary: hsl(0, 0%, 0%); 
$color-black-secondary: #101010; 

$color-gray-primary: hsla(0, 0%, 95%, 0.35);   
$color-gray-secondary: #f1f1f1; 

$color-light-primary: #ffffff; 

$color-gold-primary: #d87d4a; 
$color-gold-secondary: #fbaf85; 