 .shop{
    padding-top: 18rem;
    padding-bottom: 18rem;
    text-transform: uppercase;;
    width: 90%;
    @include respond("iphone-max"){
        display: flex;
        flex-direction: column;
       
    }
    &__card{
        flex: 0 0 31%;
        height: 21.5rem;
        background-color:  $color-gray-secondary;
        border-radius: 1rem;
        text-align: center;
        position: relative;
        @include respond("ipad"){
            flex: 0 0 32%
        }
        @include respond("iphone-max"){
           margin-top: 10rem;;
           flex: 0 0 100%;
           padding-top: 4rem;;
           padding-bottom: 4rem;
           font-size: 1.6rem;
           letter-spacing: .4rem;
        
        }
        &--headphones{
            @include respond("iphone-max"){
                margin-top: -5rem;
            }
        }
    }

    &__img{
       
        position: absolute;
        left: 50%;
       
        transform: translateX(-50%);

        &--headphones{
            width: 24rem;
            height: 24rem;
            top: - 10rem; 
            @include respond("ipad"){
                width: 21rem;
                height: 21rem;
            }
           
        }
        &--speakers{
            width: 24rem;
            height: 22rem;
            top: - 8rem; 
            @include respond("ipad"){
                width: 22rem;
                height: 21rem;
            }
        }
        &--earphones{
            width: 24rem;
            height: 21rem;
            top: - 7rem; 
            @include respond("ipad"){
                width: 22rem;
                height: 21rem;
            }
        }

        &--pic{
            width: 100%;
            height: 100%;
        }
    }
  
    &__heading{
        margin-top: 12rem;
        margin-bottom: 1.5rem;
    }

    span{
        display: inline-block;
        margin-left: 1.5rem;
        margin-top: .2rem;
        text-align: center;
    }

   &__link--img{
       position: absolute;
       margin-top: .1rem;
   }
   
   a:link, a:visited{
       color: $color-black-primary; 
   }
  
} 