.header{
    background-color: $color-black-secondary;
    width: 100%;
    height: 72rem;
    position: relative;

    @include respond("big-ipad"){
      height: 110rem;
      
    }
    @include respond("iphone-max"){
      height: 90rem;
      background-color: $color-black-secondary;
    }
    &__container{
        width: 95%;
        border-bottom: 1px solid $color-gray-primary;
        @include respond("iphone-max"){
          width: auto;
        }

    }
    
  &__sub-container{
    display: flex;
    margin-top: auto;
   
    margin-bottom: auto;
    width: 50rem;
    position: absolute;
    top: 61%; 
    transform: translateY(-61%);


    @include respond("big-ipad"){
        @include centerAbsolute; 
          
    }
    @include respond("iphone-max"){
      margin-top: 2rem;
     width: auto;
    }

  }

  .item-info{

    @include respond("big-ipad"){
      text-align: center;
     
        
  }
    &__title{
        padding-bottom: 1rem;
        color: $color-gray-primary; 
        @include respond("iphone-max"){
          font-size: 1.8rem;
          letter-spacing: 1.4rem;
          margin-top: 6rem;
        }
    }
    &__name{
       padding-top: 1.5rem;
       padding-bottom: 1.7rem;
        span{
            display: block;
        }
    }

    &__description{
        padding-bottom: 3rem;
        width: 35rem;
        color: $color-gray-primary; 

        @include respond("big-ipad"){
          text-align: center;
         width: 45rem;
         padding-bottom: 5rem;
      }
      @include respond("iphone-max"){
        font-size: 2rem;
        line-height: 3.5rem;;
        padding-bottom: 0rem;
        width: auto;
      }
    }
  }
  &__btn{
    @include respond("iphone-max"){
      margin-top: 6rem;
    }
  }
}

