.nav{
    height: 8rem;
    display: flex;
    position: relative;
  
    justify-content:space-between;
    align-items: center; 
    @include respond("big-ipad"){
       height: 10rem;
       justify-content: flex-start;
       
    
    }
    @include respond ("ipad"){
        width: 95%;
        margin: 0 auto;
    }
    @include respond("iphone-max"){
        
        margin: 0 auto;
    }
  
    &__links{
        @include respond("big-ipad"){
            display: none;
        
        }
    }
    &__el--hamburger{
        display: none;
       
        @include respond("big-ipad"){
            display: block; 
            margin-right: 5rem;
         
         }

    }
    &__el:link, &__el:visited{
        color: $color-light-primary; 
        text-decoration: none;
        display: inline-block;
        padding-left: 3.5rem;
        text-transform: uppercase;
        transition: all .2s;
    }
    &__el:hover, &__el:active{
        color:$color-gold-primary; 

    }
    &__el--sign-up{
     
   
    }
    #signup__nav{
   
        padding-left: 0px;
        margin-left: 3.5rem;
    }
    &__el--img-box{
        width: 3rem; 
        height: 3rem;

      img{
          height: 100%; 
          width: 100%;
          border-radius: 50%;
          object-fit: cover;
      
     
      }
       // object-fit: cover;
       
    }
    &__user{
    position: relative;
 
        @include respond("big-ipad"){
           margin-left: auto;
        
        }
       
    }
    &__el--username-box{
        display: inline-block;
        width: 2.8rem;
        height:2.8rem;
        border-radius: 50%;
        position: relative;
        background-color: $color-light-primary;
        text-align: center; 
        font-size: 1.6rem;
        transition: all .1s;
        
     
    }
    &__el--username-box:hover, &__el--username-box:active{
        border: 2px solid $color-gold-secondary; 
    }
    
    &__username{
        color: $color-gold-primary; 
        font-weight: 700;
        display: inline-block;
        @include centerAbsolute; 

        

    }
    &__el--cart{
        display: inline-block;
        height: 4rem;
        padding-top: 1.5rem;
    }
    .cart__quantity{
        display:block; 
        position: absolute;
        top:-.2rem;
        font-size: 12px;
        font-weight: 700;
        left: 8.5px;
        color: $color-gold-primary;
        height: 2.8rem;
     
    }
}

.nav__logout{
    font-size: 1.2rem;
}
