.shop{
    display: flex;
    justify-content: space-around; 
    
} 
.section-home-1{
    background-color: $color-gold-primary; 
    height: 59rem;
    border-radius: .81rem;
    display: flex;
    width: 90%;
     
    @include respond("ipad"){
        flex-direction: column;
        height: 100rem;
        align-items: center;
        text-align: center;
        justify-content: space-evenly; 
    }
 
    &__img-box{
        width: 40rem;
        height: 49rem;
        overflow: hidden;
        @include respond("ipad"){
           width: 25rem;
           height: 30rem;
        }
        img{
            width: 40rem;
            height:51rem;

            @include respond("ipad"){
                width: 100%;
                height: 100%;
             }
        }

    }

   &__product-gallery{
    flex: 0 0 50%;
    display: flex;
    margin-left: 16rem;
    align-items: flex-end;
    @include respond("ipad"){
        margin-left: 0;
        align-items: flex-start; 
        
    }
   }

   &__product-info{
       align-self: center;
       margin-top: -8rem;
       @include respond("ipad"){
       
        margin-top: -10rem;
    }
       .item-description-para{
        color: $color-light-primary; 
        width: 35rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
        @include respond("ipad"){
            margin-top: 4rem;
            margin-bottom: 4rem;
          
        }
       }
   }
}

.section-home-2{
    border-radius: .81rem;
    height: 35rem;
    width: 90%;
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: flex;
    align-items: center;
    &__product-info{
        margin-left: 10rem;
        margin-bottom: 2rem;

        h3{
            margin-bottom: 3.5rem;
         
        }

    }
}

.section-home-3{
    display:flex; 
    justify-content: space-between;
    width: 90%;

    @include respond(("iphone-max")){
        flex-direction: column;
    }
    &__product-gallery{
        flex: 0 0 48.7%;
        border-radius: .81rem;
        height: 32rem;
        background-color: blue;
        img{
            width: 100%;
            height: 100%;
            border-radius: .81rem
        }
        @include respond(("iphone-max")){
             flex: 0 0 100%;

        }

    }
    &__product-info{
        flex: 0 0 48.7%; 
        border-radius: .81rem;
        background-color:$color-gray-secondary; 
        height: 32rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include respond(("iphone-max")){
            margin-top: 5rem;;
            height: 40rem;
            padding-top: 9rem;;
            padding-bottom: 9rem;

       }
    }

    &__product-box{
        margin-left: 10rem;
        h4{
            margin-bottom: 3.5rem;
        }
    }



}
.section-home-4{
    display: flex;
    padding-top: 18rem;
    padding-bottom: 18rem;
    width: 90%;
    overflow:auto;
    justify-content: space-between;

    @include respond("ipad"){
       
       padding-top: 10rem;
       padding-bottom: 10rem;
       flex-direction: column;
    }
    &__detail{
        flex: 0 0 50%; 
        height: 58rem;
        border-radius: .81rem; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include respond("ipad"){
            margin-top: 5rem;
            flex: 0 0 100%; 
            order: 2;
          
        }

        h2{
            width: 40rem;
            margin-bottom: 4rem;
            @include respond("ipad"){
                width: auto;
                text-align: center;
            }
            @include respond("ipad"){
                width: 50rem;
            }
        }
        p{
            width: 45rem;
            @include respond("ipad"){
                width: 70rem;
                margin: 0 auto; 
                font-size: 1.6rem;;
                text-align: center;
            }
            @include respond("iphone-max"){
                width: 100%;
                font-size: 2.3rem;;
                letter-spacing: .2rem;
                line-height: 3.7rem;
                text-align: center;
            }
        }
        .best{
            color: $color-gold-primary; 
        }

    }

    &__gallery{

        flex: 0 0 46%; 
        
        img{
            width: 100%;
            height: 100%;
            border-radius: .81rem;
            object-fit: cover;

            @include respond("ipad"){
                height: 35.9rem;
            }
        }
        @include respond("ipad"){
            flex: 0 0 100%; 
            order: 1;
          
        }

    }
}